#section1{
    background-color: red;
    height: 200px;
}

#section2{
    background-color: green;
    height: 200px;
}
#section2 div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;

}

#section3{ /* Parent plus proche de zone div dans section 3 */
    background-color: blue;
    height: 400px;
    position: relative; /* Par rapport à la position d'origine */
}

#div2{
    position: absolute; /* Par rapport au document ou au parent positionné le plus proche */
    top: 0px;
    right: 0px;
}

#section3 div{
    /* Définition d'un carré à bordure */
    border: 1px solid red;
    width: 50px;
    height: 50px;
    /* Positionnement à milieu de sa zone parent */
    position: sticky; 
    top: 0%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
}

#div3{
    position: sticky; 
    top: 0;
    /* right: 5px; */
    background-color: greenyellow;
    /* Propriété de positionnement le "z-index" */
    /* z-index peut prendre les valeur 5, 10, 50 */
    /* Si z-index: 0 alors l'élément passe derrière mis au second plan */
    /* z-index: 0; */
    /* Si z-index: 1 alors l'élément passe devant mis au premier plan */
    z-index: 1;
}